# Compiled Object files
*.slo
*.lo
*.o
*.obj
Return-void

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.o
*.app

# tempry files
*~
settings.in
incomplete
obj

*.cbp
*.depend
*.layout
*.bin

/Releases/*
Textures/Gimp/*
Textures/Old/*
